<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>longtt.log.log4j</listener-class>
    </listener>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>longtt.controllers.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>longtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>longtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelController</servlet-name>
        <servlet-class>longtt.controllers.SearchHotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>longtt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookingController</servlet-name>
        <servlet-class>longtt.controllers.SearchBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailHotelController</servlet-name>
        <servlet-class>longtt.controllers.DetailHotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddController</servlet-name>
        <servlet-class>longtt.controllers.CartAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAreaController</servlet-name>
        <servlet-class>longtt.controllers.LoadAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateController</servlet-name>
        <servlet-class>longtt.controllers.CartUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartConfirmController</servlet-name>
        <servlet-class>longtt.controllers.CartConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteController</servlet-name>
        <servlet-class>longtt.controllers.CartDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartVerifyController</servlet-name>
        <servlet-class>longtt.controllers.CartVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingController</servlet-name>
        <servlet-class>longtt.controllers.DetailBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>longtt.controllers.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFeedbackController</servlet-name>
        <servlet-class>longtt.controllers.LoadFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscountCodeController</servlet-name>
        <servlet-class>longtt.controllers.CreateDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingController</servlet-name>
        <servlet-class>longtt.controllers.DeleteBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetMailController</servlet-name>
        <servlet-class>longtt.controllers.ResetMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetConfirmController</servlet-name>
        <servlet-class>longtt.controllers.ResetConfirmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelController</servlet-name>
        <url-pattern>/SearchHotelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookingController</servlet-name>
        <url-pattern>/SearchBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailHotelController</servlet-name>
        <url-pattern>/DetailHotelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddController</servlet-name>
        <url-pattern>/CartAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAreaController</servlet-name>
        <url-pattern>/LoadAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateController</servlet-name>
        <url-pattern>/CartUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartConfirmController</servlet-name>
        <url-pattern>/CartConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteController</servlet-name>
        <url-pattern>/CartDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartVerifyController</servlet-name>
        <url-pattern>/CartVerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingController</servlet-name>
        <url-pattern>/DetailBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFeedbackController</servlet-name>
        <url-pattern>/LoadFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscountCodeController</servlet-name>
        <url-pattern>/CreateDiscountCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingController</servlet-name>
        <url-pattern>/DeleteBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetMailController</servlet-name>
        <url-pattern>/ResetMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetConfirmController</servlet-name>
        <url-pattern>/ResetConfirmController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
